<div class="container">
  <h2>Available Properties</h2>

  @if (isLoading()) {
  <p class="status-msg">Loading listings...</p>
  } @else if (errorMessage()) {
  <p class="error-msg">{{ errorMessage() }}</p>
  } @else {
  <div class="listing-grid">
    @for (item of listings(); track item.id) {
    <div class="listing-card">

      @if (item.imageUrls && item.imageUrls.length > 0) {
      <img
        [src]="'http://localhost:8080' + item.imageUrls[0].fileUrl"
        [alt]="item.title"
        class="property-image"
      />
      }
      <div class="card-body">
        <h3>{{ item.title }}</h3>

        <p class="location">
          📍 {{ item.location }}
        </p>

        <p class="description">
          {{ item.description }}
        </p>

        <p class="available" [class.unavailable]="!item.available">
          {{ item.available ? 'Available' : 'Not Available' }}
        </p>

        <p class="guests">
          👥 Max Guests: {{ item.maxGuests }}
        </p>

        <p class="price">
          ${{ item.pricePerNight }}
          <span>/ night</span>
        </p>

        <a
          [routerLink]="['/listing', item.id]"
          class="btn-details">
          View Details
        </a>
      </div>

    </div>
    } @empty {
    <p class="status-msg">No listings found.</p>
    }
  </div>
  }
</div>
